@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData.ContainsKey("confirmedOrder"))
{
    <div class="alert alert-success">@TempData["confirmedOrder"]</div>
}


