@{
    ViewBag.Title = "Contact";
}

<div class="row col-md-12 contactsMain"> 
    
      
    <div id="description">
        <h2>Wheels shop</h2>
        <img class="contactImg" src="../../Content/Images/home.jpg" />
        <h4>
            Wheels Shop Ltd. was established in 1997 in Shumen with main activity import and trade with tires. Nowadays Wheels Shop Ltd. is a leading Bulgarian company importing and distributing tires for all kind of vehicles: car, SUV, light truck, truck, bus, and farm/industrial. Wheels Shop is a trusted and recognized partner to many worldwide tire producers and suppliers such as Goodyear, Michelin, Pirelli, Vredestein, Hankook, Matador, Marangoni, Cooper, Petlas and others. The company enjoys the trust and loyalty of its many customers.

            Several modern retail and service Wheels Shop centers were built across the country in Shumen, Varna, Dobrich, Veliko Tyrnovo, Burgas and Rousse thus creating excellent conditions for better customer service. The biggest tire and service center was opened in 2011 in the capital Sofia on 275, Botevgradsko shose Blvd.

            Pimex created and developed its own franchise under the name Pilot. This is a contemporary franchise concept toward partners, owners of working service centers or willing to invest in new business initiatives. Peer network is heavily oriented to stimulate retail sales through attractive marketing programs and bonus schemes, and thus to support the small and medium business. Wheels Shop partners can rely on its long working experience in the retail and accompanying services and be supported by the entire team of experienced professionals.

            Except tire retail Wheels Shop offers a wide range of services for cars and vans - front and rear axle’s alignment, undercarriage repair, suspension repair, wheels straightening, headlights adjustment, oil change and many others. Service centers are equipped with the latest specialized tools and employ highly qualified professionals.

            Wheels Shop offers also mobile service in Sofia, providing transportation and installation of tires on the customer's site. Customers can have their tires stored or wash their car in the car washes at Wheels Shop tire and service centers.

            Wheels Shop’ team believes that the best customer is the well serviced customer who will find here a trustworthy partner and highly responsible professional. That’s why Wheels Shop associates service with smile creating positive environment and striving to make customers feel safe and secure.

            Partners and suppliers

            Wheels Shop is a trusted and recognized partner to many worldwide tire producers and suppliers such as:

            Tires for cars, SUVs and vans: Hankook, Matador, Apollo, Vredestein, Marangoni, Petlas, Pirelli, GoodYear, Dunlop, Fulda, Sava, Debica, Michelin, Kleber, Bf Goodrich, Kormoran, Tiger, Cooper, Mentor
            Tires for trucks: Goodyear, Michelin, Hankook, Matador, Aeolus, Dunlop, Sava
            Retreaded truck tires using cold retreading method: Ellerbrock, Marangoni
            Farm and industrial tires: Petlas, Vredestein, Goodyear, Michelin, Trelleborg, Fulda.

        </h4>
        
    </div>   

    
    <address>
        <div>
            Address:
            Sofia<br />
            1 Henrih Ibsen str. <br />
            <abbr title="Phone">P:</abbr>
            +359 889 534 525
        </div>        
        
    </address>

    <address>
        <strong>Sales dpt.:</strong>   <a href="mailto:sales@wheels-shop.com">sales@wheels-shop.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@wheels-shop.com">Marketing@wheels-shop.com</a>
    </address>
    
    <div id="map"></div>
</div>



@section Scripts {
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWT6_p4OTU0KvAovb2Nrdrr0JvsPtoXl8&callback=initMap">
    </script>
    <script>
        var map, infoWindow;
        function initMap() {
            var HmLat = 42.658282;
            var HmLng = 23.313512;

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: HmLat, lng: HmLng },
                zoom: 18
            });

            infoWindow = new google.maps.InfoWindow;

            var marker = new google.maps.Marker
            ({
                position: new google.maps.LatLng(HmLat, HmLng),
                map: map,
                title: 'Our shop is located here!'
            });
        }

    </script>
}
