@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-offset-2 col-md-4">        

        @using (Html.BeginForm("SearchTyre", "Tyres", FormMethod.Get))
        {            
            <button id="homeBtn">
                <img id="homePageImage" src="../../Content/Images/tyre.jpg" />
                <br />
                <span>Tyres</span>               
            </button>

        }        
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("SearchWheel", "Wheels", FormMethod.Get))
        {            
            <button id="homeBtn">
                <img id="homePageImage" src="../../Content/Images/wheel.jpg" />
                <br />
                <span>Wheels</span>
            </button>
        }  
    </div>
</div>