@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../Content/Images/oz_racing_ultraleggera_hlt_5h_matt_black_chevrolet_corvette.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
    }
</style>

<div class="row image-background">

    <div class="col-md-offset-2 col-md-4">        

        @using (Html.BeginForm("SearchTyre", "Tyres", FormMethod.Get))
        {            
            <button id="homeBtn">
                <img id="homePageImage" src="../../Content/Images/tyre.jpg" />
                <br />
                <span>Tyres</span>               
            </button>

        }        
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("SearchWheel", "Wheels", FormMethod.Get))
        {            
            <button id="homeBtn">
                <img id="homePageImage" src="../../Content/Images/wheel.jpg" />
                <br />
                <span>Wheels</span>
            </button>
        }  
    </div>
</div>