@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">Michelin</div>
    <div class="col-md-3">BFG - линк или всички гуми БФГ</div>
        <div class="col-md-3">
            @using (Html.BeginForm("SearchTyre", "Tyres", FormMethod.Get))
            {
                <button id="homeBtn">
                    <img id="homePageImage" src="../../Content/Images/tyre.jpg" />
                    <br />
                    <span>All tyres</span>
                </button>
            }
        </div>

        @{ Html.RenderAction("Search");}
    </div>


