@model WheelsShop.Models.ViewModels.AllTyresViewModel

@{
    ViewBag.Title = "Search tyres";
}

@{ Html.RenderAction("Search");}

<div class="row">
    <div>Подреди по цена </div>
    <div class="col-md-3">
        @using (Html.BeginForm("SearchTyre", "Tyres", FormMethod.Get))
            {
            <input type="button" value="Order by brand" />
        }
    </div>
</div>

<div class="row">   
    @if (Model.TyresVM.Count() == 0)
    {
        <div class="alert alert-success">Tyres on this size are not on stock at the moment!!! </div>
    }
    else
    {
        @Html.Partial("_Tyres")
    }   
</div>


