@using CarDealer.Models.ViewModels
@model AboutCustomerVm

@{
    ViewBag.Title = "About customer";
}

<h2>Customer Name: @Model.Name</h2>
<h2>Bought cars: @Model.BoughtCarsCount</h2>
<h2>Total spent money on parts: @Model.TotalSpentMoney</h2>

