@model IEnumerable<WheelsShop.Models.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "ViewAllOrders";
}
@*@Html.AntiForgeryToken()*@
  @*TODO: check if messages work correctly*@
    <div class="row">
        <table>
            <tr>
                <th class="col-md-1">Order Number</th>
                <th class="col-md-1">Order Date</th>
                <th class="col-md-1">Product ID</th>
                <th class="col-md-1">Brand</th>
                <th class="col-md-1">Model</th>
                <th class="col-md-1">Size</th>
                <th class="col-md-1">Ordered Quantity</th>
                <th class="col-md-1">Price per piece</th>
                <th class="col-md-1">Total price</th>
                <th class="col-md-1">Order status</th>
                <th class="col-md-1">Image</th>
            </tr>
            <tbody>
               
                @foreach (var order in @Model)
                {
                    <input type="number" name="orderIds" value="@order.Id" hidden />
                    <tr>
                        @Html.Partial("_OrderRow", order)                       
                    </tr>
                }
            </tbody>
        </table>
    </div>

