body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 30px auto;
    background-color: #696969;
    color: orange;
}
#homePageImage {
    width: 300px;
    height: 300px;
}

#homeBtn {
    border: 2px solid darkgray;
    background: white;
    color: orange;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin: 30px 0;
}

/*Bootstrap overwriting*/
.alert-success{
    background-color: #ffc266; 
    color: dimgray;
    border: 1px solid gray;
    font-weight: bold;
    padding:8px;
    border-radius: 8px;
}

#tyreForm{
    display: flex;
    background-color: white;
    border: 2px solid #ffc266;    
    margin: 20px;
    border-radius: 6px;
}

.btn-default{
    background-color: #ffc266;
    border: 2px solid orange;
    margin: 10px 0px;
}

.dropdown{
    display: inline-grid;
}

.buyTyre{
    background-color: white;
    border: 2px solid orange;
    border-radius: 8px;
}

.tyreImage{
    width: 300px;
    height: 300px;
}

.img-small {
    width: 150px;
    height: 150px;
    padding: 5px;
}

th {
    text-align: center;
}

td {
    background-color: white;
    color: #333333;
    border: 1px solid #ffc266;
    text-align: center;
    font-weight: bold;
}

.message{
    padding:10px;
    margin-bottom:50px;
}

.cartImage{    
    width: 30px;
    height: 30px;
    margin-top:15px;
    float: left;
}

