body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 30px auto;
    background-color: #333333;
    color: orange;
}
#homePageImage {
    width: 300px;
    height: 300px;
}

#homeBtn {
    border: 2px solid darkgray;
    background: white;
    color: orange;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

/*Bootstrap overwriting*/
.alert-success{
    background-color: #ffc266; 
    color: dimgray;
    border: 1px solid gray;
    font-weight: bold;
}

#tyreForm{
    display: flex;
    background-color: white;
    border: 2px solid #ffc266;    
    margin: 20px;
    border-radius: 6px;
}

#allTyrePic{
    width: 150px;
    height: 150px;
}

.btn-default{
    background-color: #ffc266;
    border: 2px solid orange;
}

.dropdown{
    display: inline-grid;
}
