body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 30px auto;
    background-color: #696969;
    color: #ff8000;
}

.background-image {
        background-image: url('../Content/Images/oz_racing_ultraleggera_hlt_5h_matt_black_chevrolet_corvette.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
    }
#homePageImage {
    width: 300px;
    height: 300px;
    margin: 10px;
    
    
}

#homeBtn {
    border: 2px solid orange;
    border-radius: 10px;
    background: white;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin: 30px 0;
    padding: 15px;
    font-size: 2.5em;
}

/*Bootstrap overwriting*/
.alert-success{
    background-color: #ffc266; 
    color: dimgray;
    border: 1px solid gray;
    font-weight: bold;
    padding:8px;
    border-radius: 8px;
}

#tyreForm{
    display: flex;
    background-color: white;
    border: 2px solid #ffc266;    
    margin: 20px;
    border-radius: 6px;
}

.btn-default{
    background-color: #ffc266;
    border: 2px solid orange;
    margin: 10px 0px;
}

.dropdown{
    display: inline-grid;
}

.buyTyre{
    background-color: white;
    border: 2px solid orange;
    border-radius: 8px;
   
}

.tyreImage{
    width: 300px;
    height: 300px;
     margin: 5%;
}

.img-small {
    width: 80px;
    height: 80px;
    padding: 5px;
}

th {
    text-align: center;
}

td {
    background-color: white;
    color: #333333;
    border: 1px solid #ffc266;
    text-align: center;
    font-weight: bold;
}

.message{
    padding:10px;
    margin-bottom:50px;
}

.cartImage{    
    width: 30px;
    height: 30px;
    margin-top:15px;
    float: left;
}

.productChosen {
     border: 2px solid #ffc266;
    border-radius: 10px;
    padding: 8%;
}

.thin {
    width: 20px;
}

#allTyrePic {
    /*min-width: 170px;
    min-height: 170px;*/
    max-width: 200px;
    height: 200px;
}
.contactsMain {
    border: 5px solid #ffc266;
    border-radius: 8px;
    background: #fadb88;
    color: black;
}

.calcInfo{
    background: white;
    border: 1px solid #ffc266;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    color: gray;
}
.calcInfoBold{
       border: 3px solid #ffc266;
}

.marginAdd{
    margin: 15px 30px;
}
#calculatorspeed, #calculatordifference, #calculatordiameter2, #calculatordiameter1{
    color:#ffc266;
    font-weight: bold;
}

.custom-file-input::before {
   width: 100%;
   border-radius: 8px;
}

.contactImg{
    align-content: center;
    border: 5px solid black;
    margin: 40px;
}

#description{
    font-style: italic;
}

#logoImage{
    width: 250px;
    height: 60px;
    margin: 15px;
}

.bold-text{
    font-weight: bold;
}

#buyTyreBtn{
    margin: 25px 0;
}

.btn-margin-15{
    margin: -15px;
}
